.calc-grid .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}
.calc-grid .row {
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}
.calc-grid .col-xs,
.calc-grid .col-xs-1,
.calc-grid .col-xs-2,
.calc-grid .col-xs-3,
.calc-grid .col-xs-4,
.calc-grid .col-xs-5,
.calc-grid .col-xs-6,
.calc-grid .col-xs-7,
.calc-grid .col-xs-8,
.calc-grid .col-xs-9,
.calc-grid .col-xs-10,
.calc-grid .col-xs-11,
.calc-grid .col-xs-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
.calc-grid .col-xs {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}
.calc-grid .col-xs-1 {
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}
.calc-grid .col-xs-2 {
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}
.calc-grid .col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}
.calc-grid .col-xs-4 {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}
.calc-grid .col-xs-5 {
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}
.calc-grid .col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.calc-grid .col-xs-7 {
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}
.calc-grid .col-xs-8 {
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}
.calc-grid .col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}
.calc-grid .col-xs-10 {
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}
.calc-grid .col-xs-11 {
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}
.calc-grid .col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
.calc-grid .col-xs-offset-1 {
  margin-left: 8.333%;
}
.calc-grid .col-xs-offset-2 {
  margin-left: 16.667%;
}
.calc-grid .col-xs-offset-3 {
  margin-left: 25%;
}
.calc-grid .col-xs-offset-4 {
  margin-left: 33.333%;
}
.calc-grid .col-xs-offset-5 {
  margin-left: 41.667%;
}
.calc-grid .col-xs-offset-6 {
  margin-left: 50%;
}
.calc-grid .col-xs-offset-7 {
  margin-left: 58.333%;
}
.calc-grid .col-xs-offset-8 {
  margin-left: 66.667%;
}
.calc-grid .col-xs-offset-9 {
  margin-left: 75%;
}
.calc-grid .col-xs-offset-10 {
  margin-left: 83.333%;
}
.calc-grid .col-xs-offset-11 {
  margin-left: 91.667%;
}
.calc-grid .start-xs {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}
.calc-grid .center-xs {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}
.calc-grid .end-xs {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}
.calc-grid .top-xs {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}
.calc-grid .middle-xs {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}
.calc-grid .bottom-xs {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}
.calc-grid .around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.calc-grid .between-xs {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.calc-grid .first-xs {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}
.calc-grid .last-xs {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}
@media only screen and (min-width: 48em) {
  .calc-grid .container {
    width: 46rem;
  }
  .calc-grid .col-sm,
  .calc-grid .col-sm-1,
  .calc-grid .col-sm-2,
  .calc-grid .col-sm-3,
  .calc-grid .col-sm-4,
  .calc-grid .col-sm-5,
  .calc-grid .col-sm-6,
  .calc-grid .col-sm-7,
  .calc-grid .col-sm-8,
  .calc-grid .col-sm-9,
  .calc-grid .col-sm-10,
  .calc-grid .col-sm-11,
  .calc-grid .col-sm-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .calc-grid .col-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .calc-grid .col-sm-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .calc-grid .col-sm-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .calc-grid .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .calc-grid .col-sm-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .calc-grid .col-sm-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .calc-grid .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .calc-grid .col-sm-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .calc-grid .col-sm-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .calc-grid .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .calc-grid .col-sm-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .calc-grid .col-sm-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .calc-grid .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .calc-grid .col-sm-offset-1 {
    margin-left: 8.333%;
  }
  .calc-grid .col-sm-offset-2 {
    margin-left: 16.667%;
  }
  .calc-grid .col-sm-offset-3 {
    margin-left: 25%;
  }
  .calc-grid .col-sm-offset-4 {
    margin-left: 33.333%;
  }
  .calc-grid .col-sm-offset-5 {
    margin-left: 41.667%;
  }
  .calc-grid .col-sm-offset-6 {
    margin-left: 50%;
  }
  .calc-grid .col-sm-offset-7 {
    margin-left: 58.333%;
  }
  .calc-grid .col-sm-offset-8 {
    margin-left: 66.667%;
  }
  .calc-grid .col-sm-offset-9 {
    margin-left: 75%;
  }
  .calc-grid .col-sm-offset-10 {
    margin-left: 83.333%;
  }
  .calc-grid .col-sm-offset-11 {
    margin-left: 91.667%;
  }
  .calc-grid .start-sm {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .calc-grid .center-sm {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  .calc-grid .end-sm {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .calc-grid .top-sm {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .calc-grid .middle-sm {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .calc-grid .bottom-sm {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .calc-grid .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .calc-grid .between-sm {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .calc-grid .first-sm {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .calc-grid .last-sm {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}
@media only screen and (min-width: 62em) {
  .calc-grid .container {
    width: 61rem;
  }
  .calc-grid .col-md,
  .calc-grid .col-md-1,
  .calc-grid .col-md-2,
  .calc-grid .col-md-3,
  .calc-grid .col-md-4,
  .calc-grid .col-md-5,
  .calc-grid .col-md-6,
  .calc-grid .col-md-7,
  .calc-grid .col-md-8,
  .calc-grid .col-md-9,
  .calc-grid .col-md-10,
  .calc-grid .col-md-11,
  .calc-grid .col-md-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .calc-grid .col-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .calc-grid .col-md-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .calc-grid .col-md-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .calc-grid .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .calc-grid .col-md-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .calc-grid .col-md-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .calc-grid .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .calc-grid .col-md-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .calc-grid .col-md-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .calc-grid .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .calc-grid .col-md-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .calc-grid .col-md-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .calc-grid .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .calc-grid .col-md-offset-1 {
    margin-left: 8.333%;
  }
  .calc-grid .col-md-offset-2 {
    margin-left: 16.667%;
  }
  .calc-grid .col-md-offset-3 {
    margin-left: 25%;
  }
  .calc-grid .col-md-offset-4 {
    margin-left: 33.333%;
  }
  .calc-grid .col-md-offset-5 {
    margin-left: 41.667%;
  }
  .calc-grid .col-md-offset-6 {
    margin-left: 50%;
  }
  .calc-grid .col-md-offset-7 {
    margin-left: 58.333%;
  }
  .calc-grid .col-md-offset-8 {
    margin-left: 66.667%;
  }
  .calc-grid .col-md-offset-9 {
    margin-left: 75%;
  }
  .calc-grid .col-md-offset-10 {
    margin-left: 83.333%;
  }
  .calc-grid .col-md-offset-11 {
    margin-left: 91.667%;
  }
  .calc-grid .start-md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .calc-grid .center-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  .calc-grid .end-md {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .calc-grid .top-md {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .calc-grid .middle-md {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .calc-grid .bottom-md {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .calc-grid .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .calc-grid .between-md {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .calc-grid .first-md {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .calc-grid .last-md {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}
@media only screen and (min-width: 75em) {
  .calc-grid .container {
    width: 71rem;
  }
  .calc-grid .col-lg,
  .calc-grid .col-lg-1,
  .calc-grid .col-lg-2,
  .calc-grid .col-lg-3,
  .calc-grid .col-lg-4,
  .calc-grid .col-lg-5,
  .calc-grid .col-lg-6,
  .calc-grid .col-lg-7,
  .calc-grid .col-lg-8,
  .calc-grid .col-lg-9,
  .calc-grid .col-lg-10,
  .calc-grid .col-lg-11,
  .calc-grid .col-lg-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .calc-grid .col-lg {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .calc-grid .col-lg-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .calc-grid .col-lg-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .calc-grid .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .calc-grid .col-lg-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .calc-grid .col-lg-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .calc-grid .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .calc-grid .col-lg-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .calc-grid .col-lg-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .calc-grid .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .calc-grid .col-lg-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .calc-grid .col-lg-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .calc-grid .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .calc-grid .col-lg-offset-1 {
    margin-left: 8.333%;
  }
  .calc-grid .col-lg-offset-2 {
    margin-left: 16.667%;
  }
  .calc-grid .col-lg-offset-3 {
    margin-left: 25%;
  }
  .calc-grid .col-lg-offset-4 {
    margin-left: 33.333%;
  }
  .calc-grid .col-lg-offset-5 {
    margin-left: 41.667%;
  }
  .calc-grid .col-lg-offset-6 {
    margin-left: 50%;
  }
  .calc-grid .col-lg-offset-7 {
    margin-left: 58.333%;
  }
  .calc-grid .col-lg-offset-8 {
    margin-left: 66.667%;
  }
  .calc-grid .col-lg-offset-9 {
    margin-left: 75%;
  }
  .calc-grid .col-lg-offset-10 {
    margin-left: 83.333%;
  }
  .calc-grid .col-lg-offset-11 {
    margin-left: 91.667%;
  }
  .calc-grid .start-lg {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .calc-grid .center-lg {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  .calc-grid .end-lg {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .calc-grid .top-lg {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .calc-grid .middle-lg {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .calc-grid .bottom-lg {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .calc-grid .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .calc-grid .between-lg {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .calc-grid .first-lg {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .calc-grid .last-lg {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}
.calc {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0em;
  color: #000000;
}
.calc #area-form {
  /* Removes default focus */
  /* slider track */
}
.calc #area-form #area-input {
  border: 0;
  background-color: #efefef;
  color: #666;
  padding: 0.5em 1em;
  width: 100%;
}
.calc #area-form #area-range {
  width: 100%;
}
.calc #area-form input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}
.calc #area-form input[type="range"]:focus {
  outline: none;
}
.calc #area-form input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}
.calc #area-form input[type="range"]::-webkit-slider-runnable-track {
  border: 1px solid #c5c5c5;
  border-radius: 2px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
  background: #fff;
  color: #333;
  height: 15px;
}
.calc #area-form input[type="range"]::-moz-range-track {
  border: 1px solid #c5c5c5;
  border-radius: 2px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
  background: #fff;
  color: #333;
  height: 15px;
}
.calc #area-form input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  height: 25px;
  margin-top: -7px;
  border-radius: 2px;
  background: #fff;
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #c5c5c5;
  font-weight: normal;
  color: #454545;
}
.calc #area-form input[type="range"]::-moz-range-thumb {
  border: none;
  /*Removes extra border that FF applies*/
  border-radius: 0;
  /*Removes default border-radius that FF applies*/
  width: 25px;
  height: 25px;
  margin-top: -7px;
  border-radius: 2px;
  background: #fff;
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #c5c5c5;
  font-weight: normal;
  color: #454545;
}
.calc #area-form input[type="range"]:focus::-webkit-slider-thumb {
  border: #e0c387 solid 1px;
  background: #fff;
}
.calc #area-form input[type="range"]:focus::-moz-range-thumb {
  border: #e0c387 solid 1px;
  background: #fff;
}
.calc .packages {
  margin: 0 -10px;
}
.calc .packages .package-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.calc .packages .package-container .package {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
  margin: 10px 0;
  padding: 10px 10px;
  border: 1px solid #eee;
}
.calc .packages .package-container .package .vertical-line-container {
  position: relative;
}
.calc .packages .package-container .package .vertical-line-container .vertical-line {
  border-left: 2px solid #e0c387;
  height: 150px;
  margin-left: 10px;
  position: absolute;
  top: 5px;
}
.calc .packages .package-container .package .description {
  margin-top: 25px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 1.2em;
}
.calc .packages .package-container .package .description .list {
  font-size: 12px;
  padding-inline-start: 20px;
  list-style: none;
}
.calc .packages .package-container .package .description h2 {
  margin-left: 20px;
  margin-bottom: 10px;
  line-height: 1.4em;
  letter-spacing: 0.8px;
  color: #6d7882;
  font-size: 20px;
  font-weight: bolder;
}
.calc .packages .package-container .package .price {
  margin-top: 15px;
  text-align: right;
}
.calc .packages .package-container .package .price .value {
  font-size: 52px;
  color: #222;
  padding: 0;
}
.calc .packages .package-container .package .area {
  font-size: 14px;
  color: #999;
  text-align: right;
}
.calc .packages .package-container .package .project-price {
  margin-left: auto;
  text-align: right;
  margin-top: 15px;
  line-height: 30px;
}
.calc .packages .package-container .package .project-price .title {
  font-size: 14px;
  color: #999;
}
.calc .packages .package-container .package .project-price .equal {
  font-size: 20px;
  color: #999;
}
.calc .packages .package-container .package .project-price .value {
  font-size: 24px;
  padding-right: 5px;
}
.calc .packages .package-container .package .project-price .currency {
  font-size: 26px;
}
.calc .packages .package-container .package .package-content .toggle-button {
  padding-left: 10px;
}
.calc .packages .package-container .package .package-content .toggle-button i {
  color: #00B55C;
}
.calc .packages .package-container .package .package-content .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
.calc .packages .package-container .package .package-content .content ul {
  padding-inline-start: 10px;
}
.calc .packages .package-container .package .package-content .content.active {
  display: block;
}
